div {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
    background-image: url(https://media.wired.com/photos/5a55457ef41e4c2cd9ee6cb5/master/w_2400,c_limit/Doggo-TopArt-104685145.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.div2{
    box-sizing: border-box;
}